.pagecontainer{
    background-color: lightblue;
}

.recipecontainer{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

/*.recipecontainer div{
    display:flex;
    flex-direction: column;
}*/

.imgdiv{
    width:200px;
    margin: 0px auto;
}

h1,h2,h3,p,ul,ol{
    text-align: center;
}

li{
    text-align: left;
}

.ingredientlist{
    width: 300px;
    flex: inherit;
}

.ingredientlist li{
    margin-bottom: 5px;
}



.stepslist{
    width: 300px;
}

.stepslist ol{
    counter-reset:li;
}

.stepslist li{
    margin-bottom: 60px;
    display: inline-block;
    position: relative;
}

.stepslist li::before{
    content: counter(li);
    counter-increment: li;
    top: -50px;
    left: 50%;
    position: absolute;
}